body {
text-align: left;
background: #A1D9BC;
font: #0000A0;
}
img {
border-radius: 20px;
}
button{
background: blue;
border-radius: 25px;
height: 25px;
}
.info{
    font-size: 25px;
    margin: 50px;
}
cover{
    border-radius: 10px;
    border-bottom-width: 5px;
}